@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');
.kanit-extrabold {
    font-family: "Kanit", sans-serif;
    font-weight: 800;
    font-style: normal;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    height: 60px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    transform: translateX(10px);
}
nav li {
    float: left;
}
nav li a {
    color: rgb(175, 175, 175);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-family: Roboto;
    transition: all 0.3s ease-in-out;
}
nav li a:hover {
    transform: scale(1.05);
}
nav li ul.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgb(0, 0, 0);
}
nav li:hover ul.dropdown {
    display: block;
}
nav li ul.dropdown li {
    float: none;
}
nav li ul.dropdown li a {
    display: block;
    color: black;
}
body {
    background-color: white;
    margin: 0;
    font-family: Roboto;
    color: black;
    font-size: 18px;
}
body::-webkit-scrollbar {
    display: none;
}
.casella:hover {
    background-color: rgb(210, 210, 210);
}
.startImg {
    width: 95%;
    height: 70%;
    border-radius: 40px;
}
.profilo {
    position: fixed;
    right: 30px;
    width: 30px;
    height: 30px;
    transition: all 0.3s ease-in-out;

}
.profilo:hover {
    transform: scale(1.05);
}
table {
    width: 95%;
    height: 50%;
    animation: fade-in 1.5s ease-in-out;
}
.freccia {
    width: 40px;
    height: 40px;
    padding: 10px;
    transform: translateY(19px);
    transition: all 0.3s ease-in-out;
    animation: fade-in 1.5s ease-in-out;
    z-index: -1;
}
.titolo {
    font-size: 30px;
    animation: fade-in 1.5s ease-in-out;
}
.logo {
    width: 50%;
    height: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.205);
    border-radius: 40px;
    animation: fade-in 1.5s ease-in-out;
}
.logo2 {
    width: 50%;
    height: 50%;
    animation: fade-in 1.5s ease-in-out;
}
td {
    width: 25%;
}
.fade-in {
    animation: fade-in 1s ease-in-out;
}
.fade-in-delay {
    animation: fade-in 2s ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}