body {
    font-family: sans-serif;
    background-color: #f8f9fa;
    margin: 20px;
}
h1 {
    color: #343a40;
}
h5 {
    color: #6c757d;
}
.contenitore {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}
img {
    transition: 1s;
}
img:hover {
    transform: scale(1.1);
}
.back {
    position: absolute;
    right: 50px;
}
.fileProvaPulsante {
    width: 46px;
    margin-left: 15px;
    position: absolute;
}
.pulsanteSovrapposto {
    position: absolute;
    padding: 14px 20px;
    cursor: pointer;
    background-color: rgb(218, 217, 217);
    font-weight: bold;
    border-radius: 40px;
    border: none;
    transition: 1s;
}
.pulsanteSovrapposto:hover {
    background-color: rgb(199, 199, 199);
    transform: scale(1.1);
}
input[type="file"] {
    display: none;
}
.inputChiave {
    position: relative;
    margin-left: 180px;
    padding: 16px 20px;
    cursor: pointer;
    background-color: rgb(230, 227, 227);
    font-weight: bold;
    border-radius: 40px;
    border: 3px;
}
.pulsanteCripta {
    position: absolute;
    right: 50px;
    padding: 14px 20px;
    cursor: pointer;
    background-color: rgb(230, 227, 227);
    font-weight: bold;
    border-radius: 40px;
    transition: 1s;
}
.pulsanteCripta:hover {
    background-color: rgb(199, 199, 199);
    transform: scale(1.1);
}
.back2 {
    position: absolute;
    right: 50px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: rgb(230, 227, 227);
    font-weight: bold;
    border-radius: 40px;
    transition: 1s;
}
.back2:hover {
    background-color: rgb(199, 199, 199);
    transform: scale(1.1);
}
