body {
	font-family: Arial, sans-serif;
}
.contenitore {
	width: 300px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="text"], input[type="email"], input[type="password"] {
	width: 94%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
	border-radius: 4px;
}
button {
	width: 100%;
    padding: 8px;
    background-color: yellow;
    color: black;
    border: none;
	border-radius: 20px;
    cursor: pointer;
}
.output {
    margin-top: 20px;
    padding: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 4px;
}